
.App {
  font-family: 'Get Schwifty', serif;
   vertical-align: middle;
  /* background-position: center; */
  /* background-image: url('https://wallpaperaccess.com/full/85327.png'); */
  /* padding-left: 40%; */
  /* margin-left: 50%; */
}

/* START HOME COMPONENT */

.home-h1 {
  font-family: 'Get Schwifty', serif;
  color: #54FFD3;
  text-align: center;
}

.home-h2 {
  font-family: 'Get Schwifty', serif;
  color: #54FFD3;
  text-align: center;
}

.credits {
  position:absolute;
  bottom:0;
  right:0;
  color: white;
}

/* END HOME COMPONENT */

/* START PROFILE COMPONENT */
.profile {
    -webkit-animation: color-change 1s infinite;
    -moz-animation: color-change 1s infinite;
    -o-animation: color-change 1s infinite;
    -ms-animation: color-change 1s infinite;
    animation: color-change 1s infinite;
}

@-webkit-keyframes color-change {
    0% { color: white;}
    25% { color: #54FFD3; }
    50% { color: #8F82FF; }
    75% { color: #54FFD3 }
    100% { color: white; }
}
 @-moz-keyframes color-change {
    0% { color: white;}
    25% { color: #54FFD3; }
    50% { color: #8F82FF; }
    75% { color: #54FFD3 }
    100% { color: white; }
}
@-ms-keyframes color-change {
    0% { color: white;}
    25% { color: #54FFD3; }
    50% { color: #8F82FF; }
    75% { color: #54FFD3 }
    100% { color: white; }
}
@-o-keyframes color-change {
    0% { color: white;}
    25% { color: #54FFD3; }
    50% { color: #8F82FF; }
    75% { color: #54FFD3 }
    100% { color: white; }
}
@keyframes color-change {
    0% { color: white;}
    25% { color: #54FFD3; }
    50% { color: #8F82FF; }
    75% { color: #54FFD3; }
    100% { color: white; }
}

.quiz {
  font-family: 'Get Schwifty', serif;
}

.delete-button {
  /* text-decoration: none;
  color: white; */
}
/* END PROFILE COMPONENT */

/* START SIGNUP/LOGIN FORM */

.form-name {
  font-size: 50px;

}


.button {
  background-color:#65FF2C;
  border: 1px solid black;

}

/* END SIGNUP/LOGIN FORM */

/* START QUEST COMPONENT */
.questions {
  font-family: 'Get Schwifty', serif;
  color: white;
}

.answer {
  color: white;
  font-size: x-large;
}

.answer:hover {
  align-content: flex-start;
  color: #65FF2C;
}

/* END QUEST COMPONENT */

/* START RESULT COMPONENT */

.result {
  font-family: 'Get Schwifty', serif;
  color: white;
}

.result-img{
  background: transparent
}

/* END RESULT COMPONENT */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

a {
  text-decoration: none;
  color: #54FFD3;
  font-size: x-large;
}

a:hover {
  text-decoration: none;
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


ul.nav-bar > li {
  list-style: none;
  color: black;

}

.nav-bar {
  display: flex;
  justify-content: space-evenly;

}

.form {
  color: #54FFD3;
  font-family: sans-serif;
}


div.profile-cont{
  margin-left: 35%;
}

.result-img{
  background: transparent

}
