
.App {
  font-family: 'Get Schwifty', serif;
   vertical-align: middle;
   
}



/* START NAVBAR */
.home {
    font-family: 'Get Schwifty', serif;
}

.profile-link {
  font-family: 'Get Schwifty', serif;
}

.take-quiz {
    font-family: 'Get Schwifty', serif;
}
.update {
    font-family: 'Get Schwifty', serif;
}
.logout {
    font-family: 'Get Schwifty', serif;
}
.signup {
    font-family: 'Get Schwifty', serif;
}
.login {
    font-family: 'Get Schwifty', serif;
}



/* END NAVBAR */





/* START HOME */

.home-h1 {
  font-family: 'Get Schwifty', serif;
  color: #54FFD3;
  text-align: center;
  font-size: 400%;

  -webkit-animation: color-change 1s infinite;
  -moz-animation: color-change 1s infinite;
  -o-animation: color-change 1s infinite;
  -ms-animation: color-change 1s infinite;
  animation: color-change 1s infinite;
}

.home-h2 {
  font-family: 'Get Schwifty', serif;
  color: #54FFD3;
  text-align: center;
}

.credits {
  position:absolute;
  bottom:0;
  right:0;
  color: white;
}

/* END HOME COMPONENT */

/* START PROFILE COMPONENT */
.profile {
    -webkit-animation: color-change 1s infinite;
    -moz-animation: color-change 1s infinite;
    -o-animation: color-change 1s infinite;
    -ms-animation: color-change 1s infinite;
    animation: color-change 1s infinite;

    font-family: 'Get Schwifty', serif;
}

@-webkit-keyframes color-change {
    0% { color: white;}
    25% { color: #54FFD3; }
    50% { color: #8F82FF; }
    75% { color: #54FFD3 }
    100% { color: white; }
}
 @-moz-keyframes color-change {
    0% { color: white;}
    25% { color: #54FFD3; }
    50% { color: #8F82FF; }
    75% { color: #54FFD3 }
    100% { color: white; }
}
@-ms-keyframes color-change {
    0% { color: white;}
    25% { color: #54FFD3; }
    50% { color: #8F82FF; }
    75% { color: #54FFD3 }
    100% { color: white; }
}
@-o-keyframes color-change {
    0% { color: white;}
    25% { color: #54FFD3; }
    50% { color: #8F82FF; }
    75% { color: #54FFD3 }
    100% { color: white; }
}
@keyframes color-change {
    0% { color: white;}
    25% { color: #54FFD3; }
    50% { color: #8F82FF; }
    75% { color: #54FFD3; }
    100% { color: white; }
}

.quiz {
  font-family: 'Get Schwifty', serif;
}
/* END PROFILE COMPONENT */


/* START SIGNUP/LOGIN FORM */

.form-name {
  font-size: 50px;
}

.button {
  background-color:#65FF2C;
  border: 1px solid black;

}

/* END SIGNUP/LOGIN FORM */



/* START QUEST COMPONENT */
.questions {
  font-family: 'Get Schwifty', serif;
  color: white;
  font-size: 200%;
  margin-top: 50px;
}

.answer {
  color: white;
  font-size: x-large;
}

.answer:hover {
  align-content: flex-start;
  color: #54FFD3;
}

/* END QUEST COMPONENT */



/* START RESULT COMPONENT */

.result {
  font-family: 'Get Schwifty', serif;
  color: white;
}

.result-img{
  background: transparent
}

/* END RESULT COMPONENT */

/* START FORM COMPONENT */

.ui.header:first-child {
    margin-top: -.14285714em;
    color: #54FFD3;
    font-family: 'Get Schwifty', serif;
    font-size: large;
}

.username {
    font-family: 'Get Schwifty', serif;
}

/* END FORM COMPONENT */


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

a {
  text-decoration: none;
  color: #54FFD3;
  font-size: x-large;
}

a:hover {
  text-decoration: none;
  color: white;
}

ul.nav-bar > li {
  list-style: none;
  color: black;

}

.nav-bar {
  display: flex;
  justify-content: space-evenly;

}

.form {
  color: #54FFD3;
  font-family: sans-serif;
}


div.profile-cont{
  margin-left: 35%;
}

.result-img{
  background: transparent

}
